- if flash[:success]
  .alert.alert-success= flash[:success]
- if flash[:error]
  .alert.alert-success= flash[:error]
- if flash[:notice]
  .alert.alert-success= flash[:notice]
- if flash[:warning]
  .alert.alert-success= flash[:warning]
